<div class="card">
  <div class="card-body">
    <%= form_with(model: todo, local: true) do |form| %>
      <% if todo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

          <ul>
          <% todo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title, class: 'bmd-label-floating' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :body, class: 'bmd-label-floating' %>
        <%= form.text_field :body, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :status, class: 'bmd-label-floating' %>
        <%= form.select :status, Todo.statuses.keys, {}, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :user_id, class: 'bmd-label-floating' %>
        <%= form.collection_select :user_id, User.all, :id, :name, {include_blank: '-'}, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class: %w(btn btn-primary pull-right) %>
      </div>
    <% end %>
  </div>
</div>  