<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div class="col-md-12">
<div class="card">
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Todo.human_attribute_name(:title) %></th>
          <th><%= Todo.human_attribute_name(:body) %></th>
          <th><%= Todo.human_attribute_name(:status) %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @todos.each do |todo| %>
          <tr>
            <td><%= todo.title %></td>
            <td><%= todo.body %></td>
            <td><%= todo.status %></td>
            <td><%= link_to 'Show', todo %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
            <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
<br>

<%= link_to 'New Todo', new_todo_path %>
